* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f7efe6;
    color: #4a2c1d;
}

/* HEADER */
.header {
   
    background-color: #6b3e26;
    text-align: center;
    padding: 25px;
    color: #fff;
}

.header h1 {
    font-size: 36px;
}

.header p {
    font-size: 16px;
    margin-top: 5px;
}

/* NAVBAR */
.navbar {
    
    background-color: #4a2c1d;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 15px 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.order{
  padding:110px;
}

body {
  font-family: Arial, sans-serif;
  background: #fff6f0;
  text-align: center;
  padding: 40px;
}

h2 {
  color: #8b0000;
}

input {
  width: 60px;
  padding: 5px;
}

button {
  background: #8b0000;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 60px;
  cursor: pointer;
}

button:hover {
  background: #a52a2a;
}

.summary-box {
  background: white;
  padding: 25px;
  width: 300px;
  margin: auto;
  border-radius: 60px;
  box-shadow: 0 0 10px #ccc;
}
.summary-box input,
.summary-box textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.summary-box textarea {
  height: 60px;
  resize: none;
}

.summary-box h3 {
  margin-top: 15px;
}

.total {
  font-size: 18px;
  color: green;
}

/* FOOTER */
.footer {
    background-color: #4a2c1d;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
  }
